bin/
obj/
out/

*.log
*.tlog
*.cache
*.lastcodeanalysissucceeded
*.vspscc
*.vssscc

.vscode/
.vs/

packages/
.nuget/
*.nupkg
project.lock.json
project.assets.json

*.suo
*.user
*.ide
*.ncb
*.opendb

Generated_Code/
ServiceFabricBackup/

appsettings.json
appsettings.Development.json
secrets.json

.publish/
dist/
node_modules/

*.npm
*.yarn
*.pnpm
yarn.lock
package-lock.json
pnpm-lock.yaml

docker-compose.override.yml
.env
